use strict;
use warnings;
use File::Basename qw/dirname/;

my $config = {
    # base directory of your app
    app_base => dirname(__FILE__),
    api_id => 'YOUR API ID',
    app_secret => 'YOUR APP SECRET',
    postback_url => 'THE URL OF THIS APP',
    storage_path => '/path/to/workfile.tsv',
    group_id => 'YOUR GROUP ID',
    smtp_host => 'your.host.com',
    smtp_port => 2525,
    your_email => 'your_email@address',
};
